<div id="life-stages" class="container">

    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6">
            <p>Choose a stage</p>
            <h2>Life Stages</h2>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="cont-card one">
                <img src="{{{imgPath}}}arrow-btn.svg" alt="arrow icon"/>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="cont-card two">
                <img src="{{{imgPath}}}arrow-btn.svg" alt="arrow icon"/>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="cont-card three">
                <img src="{{{imgPath}}}arrow-btn.svg" alt="arrow icon"/>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="cont-card four">
                <img src="{{{imgPath}}}arrow-btn.svg" alt="arrow icon"/>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="cont-card five">
                <img src="{{{imgPath}}}arrow-btn.svg" alt="arrow icon"/>
            </div>
        </div>

    </div>
</div>